<%- include ('partials/head') %>
<body>
    <%- include ('partials/navbar') %>
    <h1>Lorem ipsum dolor sit amet. <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, obcaecati delectus! Consequatur eligendi eveniet modi, sequi veritatis atque odio? Velit distinctio tempore explicabo ab, dolore placeat sit deserunt. Ad, ut?</p>
</body>
</html>